/* adding font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* Starting style */
*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    
}
/* some common class */
.font{
    color:#0D1321 ;
    
    
}
.common_button{
    font-weight: 600px;
    font-size: 20px;
    padding: 12px 20px;
    
}
/* nav bar */
.nav_div{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding: 40px;
}
.name{
    font-weight: bolder;
    font-size: 28px;
}
.nav_but{
    font-size: 20px;
    font-weight: 600px;
    padding: 17px 24px;
    border-radius: 8px;
}
/* Banner style */
.banner{
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    
    margin: 0px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parent_div{
    max-width: 998px;
    text-align: center;
    margin: 30px 221px;
}
.banner_text{
    text-align: center;
    
}
.description{
    
    
    margin:24px auto;
    line-height: 26px;
    font-size: 16px;
}
.title{
    font-size: 48;
    font-weight:900;
    padding: 3px;
}
.button{
    background-color: black;
    padding: 21px 24px;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
}
/* end of banner style */
/* why starting section style */
.why_section{
    max-width: 1440px;
    margin: 75px auto;
}
.why_container{
    max-width: 946px;
    
    text-align: center;
    margin: 0px auto;
    padding: 80px 97px;
    
    

}
.why_description{
    text-align: center;

    
}
.why_title{
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 24px;
}
.why_des{
    line-height: 26px;
}
/* change the world part */
.world{
    display: flex;
    margin: 40px  0px;
    padding-top: 40px;
    justify-content: space-between;
}
.about{
    text-align: left;
}
.about_title{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
}
.des{
    max-width: 468px;
    line-height: 26px;
    text-align: left;
    margin: 16px 0px 32px 0px;
}
/* why section end */
/* inspiration section start */
.inspiration{
    max-width: 1140px;
    
    margin: 90px auto
}
.inspiration_title{
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 24px;
}
.title_des{
    max-width: 852px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 48px;
    line-height: 26px;
}
.video_link{
    padding: 32px;

}
iframe{
    border-radius: 20px;
}
/* inspiration section end */
/* Target section start */


/* current_target_title_subtitle */
.current_div{
    width: 1140px;
    height: 460px;
}
.target{
    max-width: 1140px;
    
    margin: 151px auto;
}
.current_target_title_subtitle{
    max-width: 852px;
    text-align: center;
    margin: 0px auto ;
}
.current_target_title{
    font-size: 32px;
    font-weight: bolder;
}

.current_target_subtitle{
    margin: 24px 0px 38px 0px;
    line-height: 26px;
}
/* language section */
.about_lang{
    display: flex;
}
.html{
    width: 364px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.css{
    width: 364px;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
}
.java{
    width: 364px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 35px;
    border-radius: 16px;
}

.lang_title{
    font-size: 24px;
    font-weight: bolder;
    padding: 24px 0px 8px 0px;
}
.lang_para{
    font-size: smaller;
    margin-bottom: 24px;
    height: 50px;
}
.learn_more{
    
    color: black;
    font-weight: bold;
}
/* current target section end */
/* next target section start */
.next_target_title_subtitle{
    max-width: 946px;
    margin: 111px auto 48px;

}
.next_target_title{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}
.next_target_subtitle{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}
/* title subtitle end */
.skill{
    
    display: flex;
    justify-content: space-between;
    border: .5px solid rgba(0, 0, 0, .2);
    margin-bottom: 24px;
    border-radius: 16px;
    padding: 40px;
}
.skill_info{
    max-width: 941px;
    height: 139px;
    padding-left: 24px;
    
    
}
.skill>img{
    height: 108px;
    margin: auto;
}
.skill_title{
    font-size: 24px;
    margin-bottom: 8px;
}
.skill_subtitle{
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 26px;
}

/* next target section end */
/* support section start */
.support{
    max-width: 1140px;
    height: 313px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto ;
    background-color: rgba(0,0, 0,0.5);
    background-blend-mode: overlay;
    border-radius: 20px;
}
.title_and_subtitle{
    max-width: 730px;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}
.support_title{
    font-size: 32px;
    font-weight: bold;
    padding-top: 30px;
}
.support_description{
    line-height: 26px;
}
form{
    display: flex;
    width: 680px;
    gap: 16px;
    
}
.inp_fild{
    width: 548px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
input{
    padding: 17px 20px;
    border-radius: 10px;    
}
.frm{
    margin: 24px 228px;
}

/* support section end */
/* footer section start */
.footer_section{
    max-width: 1140px; 
    display: flex; 
    justify-content: space-between;
    margin: 80px auto;
    padding:32px ;
}
.img{
    width: 157px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
}
.footer_title{
    margin: auto 0px;
}